<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacient</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<header>
    <div class="navbar navbar-inverse navbar-fixed-top menu-custom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index", "Pacient")'>
                <img src='@Url.Content("~/Content/Images/Logo.png")' width="50" height="50" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Fisa medicala", "IstoricFisa", "Pacient")</li>
                <li>@Html.ActionLink("Programare", "Programare", "Pacient")</li>
                <li>@Html.ActionLink("Date personale", "DatePersonale", "Pacient")</li>
                <li>@Html.ActionLink("Deconectare", "Logout", "Pacient")</li>
            </ul>
        </div>
    </div>
</header>
<body>
    <div class="container-wraper body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="footer-wraper">
            <div class="footer-content">
                <p class="footer-p">&copy; @DateTime.Now.Year - Proiect Colectiv</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
