@model ProiectColectiv.Asistent

@{
    ViewBag.Title = "ListaProgramari";
    Layout = "~/Views/Shared/_LayoutAsistent.cshtml";
}

<div class="container">
    <div class="row margin-card shadow-card">

        <h3 style="text-align:center">Programari</h3>
        <div class="row margin-card shadow-card">
            @foreach (var prog in @Model.Programari)
            {
            <div class="col-sm-offset-2 col-ms-offset-2 col-lg-offset-2 col-sm-8 col-ms-8 col-lg-8">

                <h3>Data consultatiei</h3>
                <div class="row margin-card shadow-card">
                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Numar Programare:</label><br />
                        @prog.id_Programare
                    </div>

                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Data efectuarii:</label><br />
                        @prog.DataOraEfectuare
                    </div>
                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Status Programare:</label><br />
                        @prog.StatusProgramare
                    </div>


                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Data Consultatiei:</label><br />
                        @prog.DataConsultatiei
                    </div>

                    @if (prog.DataModificarii != null)
                    {

                        <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                            <h3>Reprogramata</h3>
                            @prog.DataConsultatiei

                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                            <h3>Reprogramata</h3>
                            -
                        </div>
                    }

                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <a href="@Url.Action("ConfirmaProgramare","Asistent",new { idprog = prog.id_Programare})">Confirma</a>
                    </div>
                </div>

            </div>


            }
        </div>


    </div>
</div>
