@model IEnumerable<ProiectColectiv.Administrator>


@{
    ViewBag.Title = "ListaProgramari";
    Layout = "~/Views/Shared/_LayoutAsistent.cshtml";
}
<div class="container">
    <div class="row margin-card shadow-card">

        <h3 style="text-align:center">Programari</h3>
        <div class="row margin-card shadow-card">
            @foreach (var medic in @Model)
            {
            <div class="col-sm-offset-2 col-ms-offset-2 col-lg-offset-2 col-sm-8 col-ms-8 col-lg-8">

                @*<h3>Data consultatiei</h3>*@
                <div class="row margin-card shadow-card">
                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Cod utilizator:</label><br />
                        @medic.Utilizator.CodUtilizator
                    </div>

                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Nume:</label><br />
                        @medic.Utilizator.Nume<br />
                        <label>Prenume:</label><br />
                        @medic.Utilizator.Prenume
                    </div>
                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Data creare:</label><br />
                        @medic.Utilizator.DataCreare
                    </div>


                    <div class="col-xs-12 col-sm-4 col-ms-4 col-lg-4">
                        <label>Functie:</label><br />
                        @medic.Utilizator.Functie
                    </div>




                </div>

            </div>


            }
        </div>


    </div>
</div>

