@model IEnumerable<ProiectColectiv.Asistent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAsistent.cshtml";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-weight:600">
                @Html.DisplayFor(modelItem => item.Utilizator.Nume)
                @Html.DisplayFor(modelItem => item.Utilizator.Prenume)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_Asistent }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_Asistent }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_Asistent }) |
                @Html.ActionLink("ListaProgramari", "ListaProgramari", new { id = item.id_Asistent }) |
                @Html.ActionLink("PaginaPacienti", "PaginaPacienti", new { id = item.id_Asistent })
            </td>
        </tr>
    }

</table>
