@model IEnumerable<ProiectColectiv.Programari>
@{ var result = Model.OrderBy(s => s.DataConsultatiei);
}
@{
    ViewBag.Title = "ListaProgramari";
    Layout = "~/Views/Shared/_LayoutAsistent.cshtml";
}

<h2>ListaProgramari</h2>

<table class="table">
    <tr>
        <td style="font-weight:600; font-size:20px">
            @{var e = Model.First();
                string path = HttpContext.Current.Request.Url.AbsolutePath;
                if (path == "/Asistents/ListaProgramari")
                {
                    e.Asistent.Utilizator.Nume = "Toate ";
                    e.Asistent.Utilizator.Prenume = "programarile: ";
                }
            }
            @Html.DisplayFor(modelItem => e.Asistent.Utilizator.Nume)
            @Html.DisplayFor(modelItem => e.Asistent.Utilizator.Prenume)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pacient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusProgramare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConsultatiei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medic)
        </th>
        <th>
            <p>Editare</p>
        </th>
    </tr>

    @foreach (var item in result)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pacient.Utilizator.Nume)
                @Html.DisplayFor(modelItem => item.Pacient.Utilizator.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusProgramare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsultatiei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medic.Utilizator.Nume)
                @Html.DisplayFor(modelItem => item.Medic.Utilizator.Prenume)
            </td>
            <td>
                @Html.ActionLink("Edit", "ManagementPacienti", new { id = item.Pacient.id_Pacient})
            </td>
        </tr>
    }


</table>
