@model ProiectColectiv.Utilizator

@{
    ViewBag.Title = "Asistent";
    Layout = "~/Views/Shared/_LayoutMedic.cshtml";
}

<h2>Asistent</h2>

<div class="second-container">
    <div class="row margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card padding margin-bottom-10">

                @using (Html.BeginForm("Asistent", "Medic", new { id = UrlParameter.Optional }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.CodUtilizator, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.CodUtilizator, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CodUtilizator, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Prenume, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Prenume, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Parola, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <h4>Date personale</h4>

                        <div class="row margin">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card padding margin-bottom-10">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DatePersonale.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DatePersonale.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.CNP, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DatePersonale.CNP, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DatePersonale.CNP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.Telefon, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DatePersonale.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DatePersonale.Telefon, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.Varsta, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DatePersonale.Varsta, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DatePersonale.Varsta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.Sex, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.RadioButtonFor(model => model.DatePersonale.Sex, "M", new { htmlAttributes = new { @class = "form-control" } }) :M
                                            @Html.RadioButtonFor(model => model.DatePersonale.Sex, "F", new { htmlAttributes = new { @class = "form-control" } }) :F
                                            @Html.ValidationMessageFor(model => model.DatePersonale.Varsta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DatePersonale.Adresa, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DatePersonale.Adresa, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DatePersonale.Adresa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">Adauga</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>